/********** FIXES **********/
*{
	outline: none;
}

/********** FORMS **********/
.btn{
	border-radius: 0;
	border: 0;
	padding: 8px 26px;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}
.btn-vital {
    color: #fff;
    background-color: #63C9BE;
}
.btn-vital:hover {
    color: #fff;
    background-color: #60BFB2;
}

.error-message{
	font-size: 11px;
    color: #ff0000;
    position: absolute;
    bottom: 8px;
}

form label{
	width: 100%;
	background-color: #63c9be;
	border: solid 1px #63c9be;
	color: #ffffff;
	padding: 6px;
	line-height: 1;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 12px;
	margin-bottom: 0;
}

.form-group{
	margin-bottom: 25px;
}
.form-control{
	border-radius: 0;
	border: solid 1px #63c9be;
}
/********** HEADER **********/
.header{
	padding: 15px 30px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ffffff;
	z-index: 1;
	width: 100%;
}
.header .logo {
	width: 25%;
	display: inline-block;
}

.header .menu {
	width: 75%;
	text-align: right;
	display: inline-block;
}

.header .menu ul{
	list-style: none;
	display: inline-block;
}

.header .menu ul li{
	display: inline-block;
	padding: 0 15px;
}

.header .menu ul li a{
	font-family: "Raleway";
	font-weight: 600;
	color: #888888;
	text-transform: uppercase;
}

.header .menu ul li a:hover{
	text-decoration: none;
}

/********** SIDEBAR **********/
.sidebar{
	background-color: #63c9be;
	position: fixed;
	top: 91px;
	left: 0;
	bottom: 0;
	padding: 0;
}

.sidebar ul{
	list-style: none;
	margin: 0;
	padding: 0;
}


.sidebar ul li:hover{
}

.sidebar ul li a{
	padding: 20px 20px;
	color: #ffffff;
	text-decoration: none;
	border-bottom: solid 1px rgba(255,255,255,0.4);
	display: block;
}

.sidebar ul li a:hover{
	text-decoration: none;
	background-color: #60bfb2;
}

.sidebar ul li a i{
	margin-right: 20px;
	font-size: 24px;
}

.sidebar ul li a span{
	font-family: "Raleway";
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
	top: -4px;
}

/********** CONTENT **********/
.content{
	padding-top: 105px;
}

.page-title{
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-size: 32px;
	font-weight: 800;
	color: #63C9BE;
	text-transform: uppercase;
	margin-bottom: 40px;
}